In [102]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

In [37]:
temps=pd.read_csv('temps.csv')
temp_change=pd.read_csv('temp_change.csv',encoding='Windows-1252')

In [38]:
temps.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1961,1961,?C,0.746,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1962,1962,?C,0.009,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1963,1963,?C,2.695,Fc,Calculated data
3,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1964,1964,?C,-5.277,Fc,Calculated data
4,ET,Temperature change,2,Afghanistan,7271,Temperature change,7001,January,1965,1965,?C,1.827,Fc,Calculated data

In [157]:
def lineal_plot(country,month):
    row_selected=temp_change[(temp_change['Area']==country)&(temp_change['Months']==month)&(temp_change['Element']=='Temperature change')]
    data=[]
    for col in row_selected.columns:
        if col.startswith('Y') and len(col)==5:
            data.append(row_selected[col])
    plt.figure(figsize=(12, 6))
    plt.xlabel("Year",fontsize=18)
    plt.ylabel("°C",fontsize=18,rotation=0)
    x=[0,len(data)/6,2*len(data)/6,3*len(data)/6,4*len(data)/6,5*len(data)/6,len(data)]
    labels=['1960','1970','1980','1990','2000','2010','2020']
    plt.xticks(x, labels)
    plt.plot(data)
    plt.show()

In [158]:
widgets.interact(lineal_plot, country=temp_change['Area'].unique(), month=temp_change['Months'].unique())

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Albania', 'Algeria', 'American …